@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');
*{
    margin: 0;
}

header{
    background-color: black;
    color: white;
}

.head{
    padding-top: 5%;

    padding-left: 42%;
}

.kamedge{
    font-family: 'Londrina Outline', cursive;
    font-size: 250%;
}

div.bar{
    margin-top: 5%;
}


.nav pre{
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    display: inline;
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 150%;
}

a{
    text-decoration: none;
    color: white;
}

.nav pre:hover{
    background-color: white;
    color: black;
}


.dropdown{
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    width: 100%;
    font-family: 'Baloo Paaji 2', cursive;
}

.dropdown a:hover{
    text-decoration: underline;
}


.ddcontent{
    display: inline;
    font-size: 130%;
    margin-left: 5%;
}

.ddcontent a{
    color: black;
}

.nav:hover .dropdown{
    display:   block;
}

ul.headlist{
    list-style: none;
    font-size: 80%;
}

.clothing{
    margin-left: 2.6%;
}

.accessories{
    margin-left: 3.4%;
    margin-bottom: 4%;
}

.newclothing{
    margin-left: 2.6%;
}

.newaccessories{
    margin-left: 1%;
    margin-bottom: 4%;
}



ul.headlist a{
    color: black;
}

.headlist{
    display: inline-block;
    vertical-align: top;
}



div.pictures{
    background-color: black;
    margin-top: 0.1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.image{
    margin-left: 5%;
    margin-top: 100%;
}

.images{
    border: 5px solid grey;
    width: 25%;
}

.images:hover{
    transform: scale(1.2);
}

.option{
    padding-left: 7%;
}


.rimages{
    border: 5px solid grey;
    width: 35%;
    margin: 5%;
}

.rimages:hover{
    transform: scale(1.2);
}

.endlink{
    background-color: black;
    color: white;
    padding-top: 0.5%;
}

.endhead{
    margin-left: 23%;
    font-weight: bold;
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 130%;
}

.endlist{
    display: inline-block;
    list-style: none;
    margin-top: 0.2%;
    font-family: 'Baloo Paaji 2', cursive;
    font-size: small;
    margin-bottom: 5%;
}

.men{
    margin-left: 20.2%;
}

.women{
    margin-left: 18.4%;
}

.kids{
    margin-left: 19.75%;
}


.endlink a:hover{
    text-decoration: underline;
}

.foot{
    background-color: black;
    border: 2px solid white;
    color: white;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
}


.foot a:hover{
    text-decoration: underline;
}